/*
font-family: 'Lato', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Lora', serif;
font-family: 'Noto Serif', serif;
font-family: 'Monoton', cursive;
font-family: 'Croissant One', cursive;*/
body{
	margin:0;
	padding:0;
	font-family: 'Muli', sans-serif;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	background: #F5E72F;
	padding: 5px;
	z-index: 10;
}
.menu{
	float: left;
	font-size: 20px;
}
.title{
	color: #fff;
}
#box{
	margin-left: 100px;
	display: inline-block;
}
.box{
	border: 1px solid #B6B6B6;
	border-radius: 5px;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
}
.box > span{
	line-height: 1.5;
}
.box:hover{
	background: #fff;
}
.icon{
	font-size: 25px;
}
.right{
	margin-left: 1000px;
	border-radius: 10px;
	background: #0BA4D0;
	padding:5px 10px;
	margin-top: 5px;
	font-size: 15px;

}
a{
	text-decoration: none;
	color: #fff;
}
.right:hover{
	background: #0B90B6;
}
/*CONTENIDO*/
#content{
	margin-top: 52px;
	height: 800px;
	background: #E8EFEF;
	position: relative;
}
.container{
	display: inline-block;
}
#left{
	background: #64656A;
	padding: 20px;
	width: 250px;
	height: inherit;
	position: fixed;
	z-index: 5;
}
.portada{
	background: #11B611;
	border-radius: 50%;
	width: 200px;
	height:200px;
	text-align: center;
	margin:0 auto;
}
.portada > img{
	margin-top: 20px;
	width: 120px;
	/*height: 150px;*/
}
h2{
	text-align: center;
	color: #fff;
}
.opciones{

}
.opciones > span{
	display: block;
	color: #fff;
	padding: 20px 0;
	font-size: 16px;

}
.opciones > span:hover{
	background: #0DA3D4;
}

/*CENTRO UP*/
#center{
	width: 750px;
	padding: 30px;
}
.up{
	position: absolute;
	top: 50px;
	left: 30%;
	text-align: center;
}
.box1{
	float: left;
	border-bottom: 1px solid black;
	margin: 20px 20px; 
	padding: 10px;
	width: 50px;
	color: grey;
}
.box1 > .icon{
	font-size: 35px;
}
.box1:hover{
	color: black;
	background: grey;
	border-bottom:none;


}


/*CENTRO DOWN*/
.box2{
	display: inline-block;
	padding: 15px;
}
.bloque{
	display: block;
}
.cuadro{
	background: #8A8989;
	padding: 20px;
	text-align: center;
	color: #fff;
}
.photo{
	width: 250px;
	height: 150px;
}
.box2 > .icon{
	font-size: 20px;
	color: #AFADAD;

}
.down{
	position: absolute;
	top: 40%;
	left: 22%;
}


#right{
	height: inherit;
	padding-top: 30px;
	position: absolute;
	right: 0;
	background: #fff;


}
.aside-right{
	/*width: 300px;*/
}
.aside-right div.title-rig{
	color: white;
	background: red;
	text-align: center;
	padding: 15px 0;
	font-size: 17px;
	border-bottom: none;
	
}
.aside-right div{
	border-bottom: 1px solid grey;
	overflow: auto;
	margin:0 20px;
	padding: 10px;
}

.aside-right div span{
	float: left;
}
.next{
	font-size: 12px;
	margin-left: 15px;
}
.aside-down{
	margin-top: 50px;
	width: 320px;
}
.icon-world,.icon-vynil{
	margin-top: 5px;
	font-size: 30px;
}



/*FOOTER*/
footer{
	background: #F5E72F;
	padding: 15px 0;
	padding-left: 40%;
	position: relative;
}
